.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 128px;
  padding-top: 8px;
  color: white;
}

.App-title {
  display: block;
  font-size: 2em;
  height: 48px;
  line-height: 48px;
  margin: 16px 64px 16px 64px;
}

.App-links {
  display: flex;
  height: 48px;
  margin-bottom: 0;
}

.App-link {
  display: block;
  flex-grow: 1;
  color: inherit;
  text-decoration: none;
  line-height: 48px;
  font-size: large;
}

.App-link-intro {
  background-color: darkcyan;
}

.App-link-main {
  background-color: darkolivegreen;
}

.App-link-works-cited {
  background-color: darkgoldenrod;
}

.App-link-context-note {
  background-color: darkslategray;
}
