.App {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.App > span {
  margin: 0;
  padding: 0;
  display: block;
}

.App-name {
  margin: 0;
  padding: 8px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 50%);
  font-size: 2em;
}

.App-content {
  display: flex;
  padding: 0 8px 8px 8px;
  overflow: hidden;
  flex-grow: 1;
}

.App-bg-credit {
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgba(255, 255, 255, 75%);
}
