.FeatureTab {
  height: 64px;
  line-height: 64px;
  color: white;
  margin: 0;
  position: relative;
  z-index: 1;
}

.FeatureTab-closeButton {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 64px;
  height: 64px;
  font-size: 48px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 25%);
}

.FeatureTab-title {
  margin: 0;
  flex-grow: 1;
}
